# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Terraform
*.tfstate
*.tfstate.*
.terraform/

# Keys
bastion-key.js
# Ignore the private key file itself
bastion-key
*.pem
*.key
terraform-infra/k8s-key.pem
terraform-infra/*.pem

# Ignore SQL data dumps
*.sql
