apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: meo-station-database
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/minhtri1612/meo_station.git
    targetRevision: HEAD
    path: k8s_helm/database
    helm:
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: meo-stationery
  syncPolicy:
    automated:
      prune: false
      selfHeal: false
    syncOptions:
    - CreateNamespace=true
    - ServerSideApply=true
  ignoreDifferences:
  - group: apps
    kind: StatefulSet
    jsonPointers:
    - /spec/volumeClaimTemplates
    - /spec/serviceName
    - /spec/selector
