- name: Setup NGINX Ingress Access
  hosts: masters
  become: yes
  vars:
    master_kubeconfig: /home/ubuntu/.kube/config

  tasks:
    - name: Check if backend ingress exists
      shell: kubectl get ingress -n meo-stationery
      environment:
        KUBECONFIG: "{{ master_kubeconfig }}"
      register: ingress_check
      ignore_errors: yes

    - name: Show ingress status
      debug:
        var: ingress_check.stdout_lines

    - name: Get ingress controller service type
      shell: kubectl get svc -n ingress-nginx ingress-nginx-controller -o jsonpath='{.spec.type}'
      environment:
        KUBECONFIG: "{{ master_kubeconfig }}"
      register: ingress_svc_type

    - name: Get ingress controller NodePort
      shell: kubectl get svc -n ingress-nginx ingress-nginx-controller -o jsonpath='{.spec.ports[?(@.name=="http")].nodePort}'
      environment:
        KUBECONFIG: "{{ master_kubeconfig }}"
      register: ingress_nodeport
      when: ingress_svc_type.stdout == "NodePort"

    - name: Get ingress controller LoadBalancer IP
      shell: kubectl get svc -n ingress-nginx ingress-nginx-controller -o jsonpath='{.status.loadBalancer.ingress[0].ip}'
      environment:
        KUBECONFIG: "{{ master_kubeconfig }}"
      register: ingress_lb_ip
      when: ingress_svc_type.stdout == "LoadBalancer"
      ignore_errors: yes

    - name: Get master node public IP
      shell: curl -s ifconfig.me || curl -s https://api.ipify.org
      register: master_public_ip
      ignore_errors: yes

    - name: Show access information
      debug:
        msg: |
          ============================================
          NGINX INGRESS ACCESS:
          ============================================
          
          Service Type: {{ ingress_svc_type.stdout }}
          {% if ingress_svc_type.stdout == "NodePort" %}
          NodePort: {{ ingress_nodeport.stdout }}
          
          To access:
          1. Add to your /etc/hosts file:
             {{ master_public_ip.stdout }} meo-stationery.local
          
          2. Access via:
             http://meo-stationery.local:{{ ingress_nodeport.stdout }}
          {% elif ingress_svc_type.stdout == "LoadBalancer" %}
          LoadBalancer IP: {{ ingress_lb_ip.stdout }}
          
          To access:
          1. Add to your /etc/hosts file:
             {{ ingress_lb_ip.stdout }} meo-stationery.local
          
          2. Access via:
             http://meo-stationery.local
          {% endif %}
          
          ============================================

    - name: Change ingress controller to NodePort if needed
      shell: |
        kubectl patch svc ingress-nginx-controller -n ingress-nginx -p '{"spec":{"type":"NodePort"}}'
      environment:
        KUBECONFIG: "{{ master_kubeconfig }}"
      when: ingress_svc_type.stdout != "NodePort" and ingress_svc_type.stdout != "LoadBalancer"
      ignore_errors: yes

