- name: Fix Ingress Controller Traffic Policy
  hosts: masters
  become: yes
  vars:
    master_kubeconfig: /home/ubuntu/.kube/config

  tasks:
    - name: Change externalTrafficPolicy to Cluster
      shell: |
        kubectl patch svc ingress-nginx-controller -n ingress-nginx -p '{"spec":{"externalTrafficPolicy":"Cluster"}}'
      environment:
        KUBECONFIG: "{{ master_kubeconfig }}"

    - name: Wait for service update
      pause:
        seconds: 5

    - name: Test NodePort from master node
      shell: 'curl -H "Host: meo-stationery.local" http://localhost:30098 -I -m 5'
      environment:
        KUBECONFIG: "{{ master_kubeconfig }}"
      register: nodeport_test
      ignore_errors: yes

    - name: Show NodePort test result
      debug:
        var: nodeport_test.stdout_lines

    - name: Get NodePort
      shell: kubectl get svc -n ingress-nginx ingress-nginx-controller -o jsonpath='{.spec.ports[?(@.name=="http")].nodePort}'
      environment:
        KUBECONFIG: "{{ master_kubeconfig }}"
      register: nodeport

    - name: Show final access info
      debug:
        msg: |
          ============================================
          FIXED!
          ============================================
          
          Changed externalTrafficPolicy from Local to Cluster
          Now NodePort works on ALL nodes, including master!
          
          Access your application:
            http://meo-stationery.local:{{ nodeport.stdout }}
          
          Make sure on your LOCAL machine /etc/hosts has:
            3.107.91.112 meo-stationery.local
          
          ============================================

